<!doctype html>
<html lang="en">

  {% include 'header.html' %}
  {% load static %}

  <body class="left right" onload="makeDataTable('all')">

    {% include 'navbar.html' %}

    {% include 'hit_navbar.html' %}

    <header>
      <h1>{{reaction}}</h1>
      <p>Number of hit(s): {{num_hits}}</p> 
      <p>Threshold: {{threshold}}</p>
    </header>

  <main>

    <div class="table-responsive hiddenDiv">
        <table id=resultsTable class="display table data"
        style="width:100%;text-align:center;display:inline;">
        <thead>
          <tr>
            {% for col in columns %}
              <td>{{col}}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for hit in reaction_hits %}
          <tr>
            {% for col in columns %}
              {% if col == 'id'%}
              <td> <a href="/natural_products/compounds/all/{{ hit|get_item:col }}"> {{ hit|get_item:col }} </a> </td>
              {% elif col == 'image' %}
                <td> 
                  <img src="{% static hit|get_item:col %}" alt=""
                  style="width: 100pt; height: 100pt;"></img> 
                </td>
              {% elif col == 'url' %}
                <td> 
                  <a href="{% static hit|get_item:col %}">{{ hit|get_item:col}}</a> 
                </td>
              {% else %}
                <td> {{ hit|get_item:col }} </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    </main>

    <footer>
      <form action="/natural_products/reactions/">
        <input type="submit" value="Back to all reactions">
      </form>
    </footer>

  </body>
</html>
