.vscode

MGLTools-1.5.6

jupyter_notebooks

hit_optimisation/autogrow4

*/__pycache__/*
__pycache__/*

/static/compound_images

user_files/*
staticfiles/*

models/*.pkl.gz*

*_credentials.json

*.smi

oe_license.txt

natural_products/static/natural_products/php/
natural_products/static/natural_products/js/selectize_species.js

main.py
models.py
