<!doctype html>
<html lang="en">

  {% include 'header.html' %}

  <body class="normal" onload="makeDataTable(['allACCsTable'], [0])" >

    {% include 'navbar.html' %}

    <header>
      <h1>All Uniprot Targets</h1>
    </header>

    <main>
        
      <div class="table-responsive results-table hiddenDiv" >
        <table id="allACCsTable" class="display table data">

          <thead>
            <tr>
              {% for col in columns %}
              <th>{{col}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for record in uniprot_targets %}
              <tr>
                {% for col in columns %}

                  {% if col == "acc" %}
                    <td> <a href="/natural_products/uniprot/all/{{ record|get_item:col }}"> 
                      {{ record|get_item:col }} </a> </td>
                  {% else %}
                      <td>  {{ record|get_item:col }}  </td>
                  {% endif %}

                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

    </main>

    <footer>
      <form action="/" >
        <input type="submit" value="Return to home">
      </form>
    </footer>
  
  </body>
</html>