<!doctype html>
<html>
  <head>
      {% load static %}
    <title>NPAIEngine</title>
    <script type="text/javascript" 
      src="{% static 'pass_app/download.js' %}"></script>
  </head>
  <body style="text-align: center;">
 
    <h1>Download page</h1>
    <br>
    {% if authenticated %}

    <div>
        <!-- <form method="get" action={{filename}}> -->
            <!-- <button type="submit">Download</button> -->
         <!-- </form> -->
         <p>The download should begin shortly. If it doesn't, click
            <a data-auto-download href="/download/{{token}}">here</a>.</p>
       
         <br>
         <br>

        <form action="/pass_app">
            <input type="submit" value="Go to NPAIEngine home">
        </form> 
    </div>

    {% else %}
    <div>   
       <h2>Please log in to download file:</h2>
       {% if login_error %}
        <h3>Authetication error!</h3>
        {% endif %}
      <form action="/download/{{token}}" method="post">
        {% csrf_token %}
        <label for=username >Username:</label>
        <input type="text" id="username" 
            name="username">   
        <br >
        <label for=password>Password:</label>
        <input type="password" id="password" 
            name="password"> 
        <br>
        <br>
        <input type="submit" value="Login">
      </form> 
    </div>
    {% endif %}
  </body>
</html>
