<!doctype html>
<html>
  <head>
    <title>NPAIEngine</title>
  </head>
  <body>
    <p>Welcome to NPAIEngine!</p>
    <!-- {% if latest_compound_list %}
        <p> Latest compounds: </p>
        <ul>
        {% for compound in latest_compound_list %}
            <li><a href="/pass_app/{{ compound.name }}/">{{ compound.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No compounds are available.</p>
    {% endif %} -->
    <form action="/upload/">
      <!-- <label for="sdf">SDF:</label> -->
      <!-- <input type="file" id="sdf" name="sdf"><br><br> -->
      <input type="submit" value="Go to SDF file upload">
    </form> 
  </body>
</html>
