<!doctype html>
<html>
  <head>
    <title>NPAIEngine</title>
  </head>
  <body style="text-align: center;">
 
    <h1>Welcome to NPAIEngine!</h1>
    <br>
    <div>   
       <h2>Compound activity Prediction</h2>

      <form action="pass_app/upload/">
        <input type="submit" value="Go to SDF file upload">
      </form> 
    </div>

    <br>
    <br>

    <div>
      <h2>Natural product library</h2>
      <form action="natural_products/">
        <input type="submit" value="Go to natural product library">
    </form>

  </div> 
  </body>
</html>
