<!doctype html>
<html>
  <head>
    <title>NPAIEngine Upload</title>
  </head>
  <body style="text-align: center;">
    <div>
        <h1>Welcome to NPAIEngine's SDF file upload page!</h1>
        {% if form %}
            <form enctype="multipart/form-data" action="/pass_app/upload/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% else %}
            <p>No form.</p>
        {% endif %}
      </div>

      <br>
      <br>

      <div>
        <form action="/">
          <input id="backButton" type="submit" value="Return to home">
        </form>

      </div>
  </body>
</html>
