<!doctype html>
<html lang="en">

  {% include 'header.html' %}

  <body class="normal" onload="makeDataTable(['allTargetsTable'], [0])" >

    {% include 'navbar.html' %}

    <header>
      <h1>All Targets</h1>
    </header>

    <main>
        
      <div class="table-responsive results-table hiddenDiv" style="display: none;">
        <table id="allTargetsTable" class="display table data">

          <thead>
            <tr>
              <th>Category</th>
              <th>Target Name</th>
            </tr>
          </thead>
          <tbody>
            {% for category, target_name, target_name_encoded in targets %}
              <tr>
                <td>{{ category }}</td> 
                <td> <a href="/natural_products/targets/all/{{target_name_encoded}}"> 
                {{ target_name }} </a> </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

    </main>

    <footer>
      <form action="/" >
        <input type="submit" value="Return to home">
      </form>
    </footer>
  
  </body>
</html>