<!doctype html>
<html lang="en">

  {% include 'header.html' %}
  {% load static %}

  {% if show_images %}
  <body class="right" onload="makeDataTable(['resultsTable'], [4, ])"> 
  {% else %}
  <body class="right" onload="makeDataTable(['resultsTable'], [3, ])">
  {% endif %}
    
    {% include 'navbar.html' %}

    {% include 'hit_navbar.html' %}

    <header>
      <h1>Hits for Targets(s): {{targets}}</h1>
      <p>Using threshold: {{threshold}}</p> 
      <p>Number of hits: {{num_hits}}</p> 
    </header>

    <main>

      <div class="table-responsive hiddenDiv">
        <table id=resultsTable class="display table data">
          <thead>
            <tr>
              {% if show_images %}
              <th colspan="4" class="bd-left bd-right">Molecule</th>
              {% else %}
              <th colspan="3" class="bd-left bd-right">Molecule</th>
              {% endif %}
              {% for target in targets %}
              <th colspan="1" class="bd-right">{{target}}</th>
              {% endfor %}
            </tr>
            <tr>
              {% if show_images %}
              <th class="bd-left">Image</th>
              {% endif %}
              <th class="bd-left">ID</th>
              <th>Compound Name</th>
              <th class="bd-right">Molecular Formula</th>
              <!-- <th>SMILES</th> -->
              {% for target in targets %}
              <!-- <th>Pa</th> -->
              <!-- <th>Pi</th> -->
              <th class="bd-right">Confidence Score</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for hit in target_hits %}
          <tr>
            {% if show_images %}
            <td class="bd-left"> 
              <img src="{% static hit.image %}" alt=""
                style="width: 100pt; height: 100pt;"></img> 
            </td>
            {% endif %}
            <td class="bd-left"> <a href="/natural_products/compounds/all/{{hit.id}}"> {{ hit.id }} </a> </td>
            <td> {{ hit.name }} </td>
            <td class="bd-right"> {{ hit.formula }} </td>
            <!-- <td> {{ hit.smiles }} </td> -->
            {% for target in hit.targets %}
            <!-- <td> {{ target.pa }} </td> -->
            <!-- <td> {{ target.pi }} </td> -->
            <td class="bd-right"> {{ target.confidence_score }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  
    </main>

    <footer>
      <form action="/natural_products/targets/screening/select/">
        <input type="submit" value="Back to targets selection">
      </form>
    </footer>

  </body>
</html>
