<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>NPAIEngine</title>
    <link rel="stylesheet" type="text/css" 
      href="{% static 'css/sidebar.css' %}">
  </head>
  <body style="text-align: center;">

    {% include 'navbar.html' %}

    <div>
      <h1>Hit optimisation request success</h1>
        <p>You will receive an email when the results are ready</p>
    </div>

    <br>
    <br>
   
    <div>
    <form action="/activity_prediction">
      <input type="submit" value="Go to NPAIEngine home">
    </form> 
  </div>
  </body>
</html>
