<!doctype html>
<html lang="en">

  <head>

    {% load static %}

    <title>NPAIEngine Upload</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" 
    integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" 
      integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

    <script type="text/javascript" 
    src="{% static 'hit_optimisation/options.js' %}"></script>

    <script>
      function setVisible() {
        document.getElementById("hiddenDiv").style.cssText = "display: inline;";
      }
      </script>
  </head>

  <body style="text-align: center;" onload="setVisible()">
    <div id="hiddenDiv" class="hidden" style="display: none;">
        <h1>Hit Optimisation</h1>
            <form enctype="multipart/form-data" action="/hit_optimisation/upload/" method="post">
              {% csrf_token %}

              <div>
                <h2>User Details</h2>
                  <label for="username">User name:</label>
                  {% if username %}
                  <input type="text" id="username" 
                    name="username" value={{username}} readonly> 
                  {% else %}
                  <input type="text" id="username" 
                    name="username"> 
                  {% endif %}
                  <br>
                  <label for="user_email">Email address:</label>
                  {% if user_email %}
                  <input type="text" id="user_email" 
                    name="user_email" value={{user_email}} readonly> 
                  {% else %}
                  <input type="text" id="user_email" 
                    name="user_email"> 
                  {% endif %}
                  <br>
              </div>

              <div>
                <h2>Target Selection</h2>
                <label for="target">Select target (PDB ID):</label>
                {% if pdb_ids %}
                <!-- <input type="text" id="target" 
                  name="target" value={{target}}>  -->
                <select name=target id=target>
                    {% for target, symbol, score, pdb_id in pdb_ids %}
                      <option value={{pdb_id}}>{{target}}: {{symbol}}: {{score}}: {{pdb_id}}</option>
                    {% endfor %}
                  </select> 
                {% else %}
                <input type="text" id="target" 
                  name="target" value="4DQY"> 
                {% endif %}
                <br>
                <!-- <select name=target id=target>
                  <option value="">Please choose a target...</option>
                  {% for target in targets %}
                    <option value={{target}}>{{target}}</option>
                  {% endfor %}
                </select>  -->

                <label for="chain">Chain</label>
                <input type="text" id="chain" 
                  name="chain" value="A"> 
                <br>
            </div>
        
            <div>
              <h2>Seed Compounds</h2>
              {% if smiles_filename %}
                <label for="input_smiles">Smiles file:</label>
                <input type="text" id="input_smiles" 
                  name="input_smiles" value={{smiles_filename}} readonly> 
              {% else %}
              {{form}}
              {% endif %}
            </div>

            <div>
              <h2>Optimisation Settings</h2>
              {% for setting, value in settings %}
                <label for={{setting}}>{{setting}}:</label>
                <input type="text" id={{setting}} 
                  name={{setting}} value={{value}}> 
                <br>
              {% endfor %}
            </div>
              <br>
              <input type="submit" value="Submit">
            </form>
      </div>

      <br>
      <br>

      <div>
        <form action="/pass_app/">
          <input id="backButton" type="submit" value="Return to home">
        </form>

      </div>
  </body>
</html>
