<!doctype html>
<html lang="en">

  {% include 'header.html' %}

  <body class="normal">

    {% include 'navbar.html' %}

    <header>
      <h1>Hit Optimisation</h1>
    </header>

    <body>

      <div id="hiddenDiv" class="hiddenDiv">

        <form class="select-form center" enctype="multipart/form-data" action="/hit_optimisation/" method="post">
          {% csrf_token %}

          <div>
            <h2>User Details</h2>
            <label for="username">User name: {{username}}</label>
            <br>
            <label for="user_email">Email address: {{user_email}}</label>
          </div>

          <br>

          <div>
            <h2>Target Selection</h2>
            <label for="target">Select target (PDB ID):</label>
            {% if pdb_ids %}
            <select name=target id=target>
              {% for target, symbol, score, pdb_id in pdb_ids %}
              <option value={{pdb_id}}>{{target}}--{{symbol}}({{score}})--{{pdb_id}}</option>
              {% endfor %}
            </select> 
            {% else %}
            <input type="text" id="target" name="target" value="1UK0"> 
            {% endif %}
            <br>

            <label for="chain">Chain</label>
            <input type="text" id="chain"  name="chain" value="A"> 
          </div>

          <br>
      
          <div>
            <h2>Seed Compounds</h2>
            {% if smiles_filename %}
            <label for="input_smiles">Seed compounds:</label>
            <input type="text" id="input_smiles" 
              name="input_smiles" value="{{smiles_filename}}" readonly> 
            {% else %}
            {{form}}
            {% endif %}
          </div>

          <div>
            <h2>Optimisation Settings</h2>
            <table class="display">
              {% for setting, description, value in settings %}
              <tr>
                <td> {{setting}} </td>
                <td> {{description}} </td>
                <td>
                  <input type="text" id={{setting}} 
                    name={{setting}} value={{value}}> 
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <br>

          <div class="center">
            <input type="submit" value="Submit">
          </div>
        </form>

      </div>

    </body>

    <footer>
        <form class="center" action="/">
          <input id="backButton" type="submit" value="Return to home">
        </form>
    </footer>

  </body>
</html>
