<head>
    <title>NPAIEngine</title>

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" 
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" 
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}"></link>

    <script type="text/javascript" src="{% static 'js/make_datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/show_hidden.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/download.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select_forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/selectize_options.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidenav.css' %}"></link>
</head>
