

<div class="sidenav sidenav-left">
    <div style="text-align: center;">
        <h2>NPAIEngine</h2>
    </div>
    <a href="/activity_prediction">Home</a>
    <a href="/activity_prediction/upload">Activity prediction</a>
    <a href="/natural_products/compounds">All natural products</a>
    <a href="/natural_products/targets">All targets</a>
    <a href="/natural_products/pathways">All pathways</a>
    <a href="/natural_products/reactions">All reactions</a>
    <a href="/natural_products/target_selection">Multi-target screening</a>
    <a href="/natural_products/pathway_selection">Multi-pathway screening</a>
    <a href="/natural_products/reaction_selection">Multi-reaction screening</a>
    <a href="/hit_optimisation/">Hit optimisation</a>
    <a href="/logout">Logout</a>
</div>

