<!doctype html>
<html lang="en">

  <head>
    {% load static %}

    <title>NPAIEngine</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  
  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" 
      src="{% static 'natural_products/tables.js' %}"></script>

    <script type="text/javascript" 
      src="{% static 'natural_products/compounds.js' %}"></script>

  </head>

  <body style="text-align: center;" onload="setDataTablesVisible()">
  
    <p>
      <h1>{{compound_id}}</h1>
      <form action="/natural_products">
        <input type="submit" 
          value="Return to natural product library home">
      </form>
    </p>

    {% if img_filename %}
    <h2>Molecule</h2>
      <img src="{% static img_filename %}" 
        style="width: 20%; height: 20%;" >
    {% endif %}

      <div class="nav nav-tabs" id="nav-tab" role="tablist">
      
        <!-- <a class="nav-item nav-link active" id="nav-properties-tab" 
          data-toggle="tab" href="#nav-properties" role="tab" 
          aria-controls="nav-properties" aria-selected="true">
          <b>PROPERTIES</b>
        </a> -->
        <input type="button" onclick="showDiv(this)" value="PROPERTIES">

        {% if activities %}
          {% for category, category_activities in activities %}
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <!-- <a class="nav-item nav-link" id="nav-{{category}}-tab" 
              data-toggle="tab" href="#nav-{{category}}" role="tab" 
              aria-controls="nav-{{category}}" aria-selected="false">
              <b>{{category}}</b>
            </a> -->
            <input type="button" onclick="showDiv(this)" value={{category}}>
            {% endfor %}
        {% endif %}

      </div>

    <div class="tab-content" id="nav-tabContent">
   
      <div class="tab-pane active" id="nav-PROPERTIES" 
        role="tabpanel" aria-labelledby="nav-PROPERTIES-tab"
        style="display: none;">
        
        <h2>MOLECULE PROPERTIES</h2>
        <table class="display table"
          style="width:100%;text-align:left">
          <thead>
          <tr>
            <th>Property Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in info %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      {% if activities %}
      
        {% for category, category_activities in activities %}

          <div class="tab-pane active" id="nav-{{category}}" 
            role="tabpanel" aria-labelledby="nav-{{category}}-tab"
            style="display: none;">
            
              <h2>{{category}}</h2>
              <div class="table-responsive">
                <table id="{{category}}Table" class="display table data"
                  style="width:100%;text-align:center;display:none;">
                 
                  <thead>
                  <tr>
                    <th>Target</th>
                    <th>Pa</th>
                    <th>Pi</th>
                    <th>Pa - Pi</th>
                  </tr>
                  </thead>
                 
                  <tbody>
                  {% for target, pa, pi, diff in category_activities %}
                  <tr>
                    <td>{{target}}</td>
                    <td>{{pa}}</td>
                    <td>{{pi}}</td>
                    <td>{{diff}}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </div>

          </div>
        {% endfor %}
      {% endif %}
    </div>

  </body>
</html>
