<!doctype html>
<html>
  <head>
    {% load static %}
    <title>NPAIEngine</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
  </head>

  <body style="text-align: center;">

   {% include 'navbar.html' %}

    <div>
      <h1>Natural products</h1>
     
      <div>
        <h2>Natural Product Library</h2>
      <form action="/natural_products/compounds/">
        <input type="submit" value="Browse all natural products">
      </form> 
      </div>

      <br>
      <br>
     
      <div>
        <h2>Reverse Screening</h2>
      <div>
        <h3>Target-based screening</h3>
      <form action="/natural_products/target_selection/">
        <input type="submit" value="Go to target selection">
      </form> 
      </div>

      <br>
      <br>

      <div>
        <h3>Pathway-based screening</h3>
      <form action="/natural_products/pathway_selection/">
        <input type="submit" value="Go to pathway selection">
      </form> 
      </div>

      <br>
      <br>

      <div>
        <h3>Reaction-based screening</h3>
      <form action="/natural_products/reaction_selection/">
        <input type="submit" value="Go to reaction selection">
      </form> 
      </div>

    </div>

      <br>
      <br>

     <div>
       <h2>Return Home</h2>
      <form action="/activity_prediction">
        <input type="submit" value="Go to NPAIEngine home">
      </form> 
    <div>

    </div>
  </body>
</html>
