<!doctype html>
<html>
  <head>
    <title>NPAIEngine</title>
  </head>
  <body style="text-align: center;">
    <div>
      <h1>Natural products page</h1>
     
      <div>
        <h2>Natural Product Library</h2>
      <form action="/natural_products/compounds/">
        <input type="submit" value="Browse all natural products">
      </form> 
      </div>

      <br>
      <br>
     
      <div>
        <h2>Reverse Screening</h2>
      <div>
        <h3>Target-based</h3>
      <form action="/natural_products/target_selection/">
        <input type="submit" value="Go to target selection">
      </form> 
      </div>

      <br>
      <br>

      <div>
        <h3>Pathway-based</h3>
      <form action="/natural_products/pathway_selection/">
        <input type="submit" value="Go to pathway selection">
      </form> 
      </div>

      <br>
      <br>

      <div>
        <h3>Reaction-based</h3>
      <form action="/natural_products/reaction_selection/">
        <input type="submit" value="Go to reaction selection">
      </form> 
      </div>

    </div>

      <br>
      <br>

      <!-- <form action="/natural_products/pathway_enrichment/">
        <input type="submit" value="Go to pathway enrichment">
      </form> 

      <br>
      <br> -->
     <div>
       <h2>Return Home</h2>
      <form action="/pass_app">
        <input type="submit" value="Go to NAPAIEngine home">
      </form> 
    <div>

    </div>
  </body>
</html>
