<!doctype html>
<html>
  <head>
    <title>NPAIEngine</title>
  </head>
  <body style="text-align: center;">
    <div>
      <h1>Natural products page</h1>
     
      <form action="/natural_products/compounds/">
        <input type="submit" value="Browse all natural products">
      </form> 
     
      <br>
      <br>
     
      <form action="/natural_products/target_selection/">
        <input type="submit" value="Go to target selection">
      </form> 

      <br>
      <br>

      <form action="/natural_products/pathway_selection/">
        <input type="submit" value="Go to pathway selection">
      </form> 

      <br>
      <br>

      <form action="/natural_products/reaction_selection/">
        <input type="submit" value="Go to reaction selection">
      </form> 

      <br>
      <br>

      <form action="/natural_products/pathway_enrichment/">
        <input type="submit" value="Go to pathway enrichment">
      </form> 

      <br>
      <br>
     
      <form action="/">
        <input type="submit" value="Go to NAPAIEngine home">
      </form> 
    
    </div>
  </body>
</html>
