<!doctype html>
<html lang="en">

  <head>
    {% load static %}

    <title>NPAIEngine</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       
    <script type="text/javascript" 
      src="{% static 'natural_products/tables.js' %}"></script>
  </head>

  <body style="text-align: center;" onload="setDataTablesVisible()">

    <div>
      <h1>Results</h1>

      <form action="/natural_products/pathway_selection/">
        <input type="submit" value="Back to pathway selection">
      </form>
 
    </div>

    <div style="text-align: left;">
      <h2>Looking at hits for pathways(s): {{pathways}}<br>Using threshold: {{threshold}}</h2> 
      <h2>Number of hits: {{num_hits}}</h2> 
    </div>

    <br>
 
    <div class="table-responsive">
      <table id=resultsTable class="display table data"
        style="width:100%;text-align:center;display:none;">
        <thead>
          <tr>
            {% if num_hits < 5000 %}
            <th colspan="4">Molecule</th>
            {% else %}
            <th colspan="3">Molecule</th>
            {% endif %}
            {% for pathway in pathways %}
            <th colspan="6">{{pathway}}</th>
            {% endfor %}
          </tr>
          <tr>
            <th>ID</th>
            {% if num_hits < 5000 %}
            <th>Image</th>
            {% endif %}
            <th>Compound Name</th>
            <th>Molecular Formula</th>
            <!-- <th>SMILES</th> -->
            {% for pathway in pathways %}
            <th>Target(s)</th>
            <th>Number Targets</th>
            <th>Uniprot ACC(s)</th>
            <th>Number Uniprot ACCs</th>
            <th>Pathway Name</th>
            <th>Organism</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for hit in pathway_hits %}
          <tr>
            <td> <a href="/natural_products/compounds/{{hit.id}}"> {{ hit.id }} </a> </td>
            {% if num_hits < 5000 %}
            <td> 
              <img src="{% static hit.image %}" alt=""
              style="width: 100pt; height: 100pt;"></img> 
            </td>
            {% endif %}
            <td> {{ hit.name }} </td>
            <td> {{ hit.formula }} </td>
            <!-- <td> {{ hit.smiles }} </td> -->
            {% for pathway in hit.pathways %}
            <td> {{ pathway.targets }} </td>
            <td> {{ pathway.num_targets }} </td>
            <td> {{ pathway.accs }} </td>
            <td> {{ pathway.num_accs }} </td>
            <td> <a href="{{pathway.url}}"> {{ pathway.pathway_name }} </a> </td>
            <td> {{ pathway.organism }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


  <div>

    <form action="/natural_products/download/" >
      <input type="submit" id="downloadButton" value="Download results">
    </form>

    <!-- <br> -->
<!--  -->
    <!-- <form action="/natural_products/optimise/"> -->
      <!-- <input type="submit" value="Optimise results"> -->
    <!-- </form> -->

  </div>
  </body>
</html>
