<!doctype html>

<html lang="en">

  <head>
    {% load static %}

    <title>NPAIEngine</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" 
      integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" 
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
       
    <script type="text/javascript" 
      src="{% static 'natural_products/options.js' %}"></script>
    <script type="text/javascript" 
      src="{% static 'natural_products/forms.js' %}"></script>

  </head>

  <body style="text-align: center;" onload="">
    <div>
    <h1>Pathway selection</h1>
    <form action="/natural_products/" >
      <input type="submit" value="Go back">
    </form>
  </div>

  <br>

  <div>
    <form action="/natural_products/pathway_hits/" method="get">
      <div>

        <label for="pathways">Select pathway(s):</label>

        <select name="pathways" id="pathways" multiple>
          
          {% for pathway, pathway_encoded, organism, organism_encoded in pathways %}
            <option value="{{pathway_encoded}}">{{organism}}: {{pathway}}</option>
          {% endfor %}
          
        </select> 

      </div>

      <br>
      <br>

      <label for="threshold">Threshold (Pa):</label>
      <select name="threshold" id="threshold">
        {% for threshold in thresholds %}
          <option value={{threshold}}>{{threshold}}</option>
        {% endfor %}
      </select>

      <br>
      <br>

      <label for="checkbox">Pa>Pi?</label>
      <input id="checkbox" name="checkbox" type="checkbox" checked>

      <br>
      <br>

      <input type="submit" id="submit" value="Submit" disabled="disabled">
    </form> 

  </div>


  </body>
</html>
