<!doctype html>
<html lang="en">

  {% include 'header.html' %}

  <body class="normal" onload="makeDataTable(['allPathwaysTable'], [0])" >

    {% include 'navbar.html' %}

    <header>
      <h1>All Pathways</h1>
    </header>
    
    <div class="table-responsive results-table hiddenDiv" >
      <table id="allPathwaysTable" class="display table data" style="width:100%;text-align:center;">
        <thead>
          <tr>
              <th>Pathway Name</th>
              <th>Organism</th>
          </tr>
        </thead>
        <tbody>
          {% for pathway_name, pathway_name_encoded, organism, organism_encoded in pathways %}
            <tr>
              <td> <a href="/natural_products/pathways/all/{{pathway_name_encoded}}:_:{{organism_encoded}}"> 
              {{ pathway_name }} </a> </td>
              <td>{{organism}}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
   
    <footer>
      <form action="/" >
        <input type="submit" value="Return to home">
      </form>
    </footer>

  </body>
</html>