<!doctype html>

<html lang="en">

  {% include 'header.html' %}
  {% load static %}
  <script type="text/javascript" src="{%static 'natural_products/js/options.js' %}"></script>

  <body class="normal">

    {% include 'navbar.html' %}

    <header>
      <h1>Multi-pathway Screening</h1>
      <h2>Pathway selection</h2>
    </header>

    <main>
    
      <div class="hiddenDiv">
        <form class="select-form" action="/natural_products/pathways/screening/hits/" method="get">

          <div>
            <label for="organism">Select organism:</label>
            <select name="organism" id="organism" onchange="showDiv(this)">
              <option disabled selected value> -- select an option -- </option>
              {% for organism in pathways %}
              <option value="{{organism}}">{{organism}}</option>
              {% endfor %}
            </select> 
          </div>
        
          {% for organism, organism_pathways in pathways.items %}
          <div id="div-{{organism}}" style="display: none;">
            <label for="{{organism}}-pathways">Select pathway(s) for {{organism}}:</label>
            <select name="{{organism}}-pathways" id="{{organism}}-pathways" multiple>
              <option disabled selected value> -- select an option -- </option>
              {% for pathway, pathway_encoded in organism_pathways %}
              <option value="{{pathway_encoded}}">{{pathway}}</option>
              {% endfor %}
            </select> 
          </div>
                    
          <br>
          <br>

          {% endfor %}

          <label for="threshold">Threshold (Confidence):</label>
          <select name="threshold" id="threshold">
            {% for threshold in thresholds %}
            <option value={{threshold}}>{{threshold}}</option>
            {% endfor %}
          </select>

          <!-- <br> -->
          <!-- <br> -->

          <!-- <label for="checkbox">Pa>Pi?</label>
          <input id="checkbox" name="checkbox" type="checkbox" checked readonly> -->

          <br>
          <br>

          <input type="submit" id="submit" value="Submit" disabled="disabled">
        </form> 
      </div>

    </main>

    <footer>
      <form action="/" >
        <input type="submit" value="Go home">
      </form>
    </footer>

  </body>
</html>
